html {
	box-sizing: border-box;
	scroll-behavior: smooth;
    font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
    font-family: 'Geist';
 }

a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

[id] { 
	scroll-margin-top: 150px; 
}

body {
        background-image: url(./assets/v3-resized-blur-adu-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 105vh;
        width: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }

.hero.container {
    display: flex;
    padding: 5%;
    align-items: center;
    flex-direction: column;
    margin: 0 10vw 0 10vw;
    
}

.hero .title {
    /* font-size: 13vw; */
    font-size: 4.5rem;
    color: white;
    margin-top: 10%;
    font-weight: bold;
    font-family: 'Open Sans';
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    color: #ffffff;
    background-color: #ffffff50;
    border-bottom: 1px solid white;
    font-size: 24px;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar .left {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar .left a {
    display: flex;
    align-items: center;
}

.navbar .left img {
    max-height: 2.7rem;
    max-width: 2.7rem;
    text-align: center;
    margin-right: 0.7rem;
}

.navbar span {
    display: flex;
    align-items: center;
}

.navbar span img {
    max-height: 3rem;
    max-width: 3rem;
    text-align: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 4.2rem; /* Stay at the top */
  right: 0;
  background-color: #ffffff50; /* Black*/
  border-left: 1px solid white;
  color: #a0c5e4;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #a0c5e4;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}