html {
	box-sizing: border-box;
	scroll-behavior: smooth;
  font-size: 13px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
  font-family: 'Geist', sans-serif;
 }

a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
  color: white;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

[id] { 
	scroll-margin-top: 150px; 
}

::selection {
    background-color: white;
    color: rgb(85, 85, 85);
}

body {
  display: flex;
  flex-direction: column;

  background: url(./assets/v3-resized-blur-adu-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}



.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  color: #ffffff;
  background-color: #ffffff50;
  border-bottom: 1px solid #e3e4e7;
  font-size: 24px;
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.navbar .left {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar .left a {
  display: flex;
  align-items: center;
}

.navbar .left img {
  max-height: 2.7rem;
  max-width: 2.7rem;
  text-align: center;
  margin-right: 0.7rem;
}

.navbar span {
  display: flex;
  align-items: center;
}

.navbar span img {
  max-height: 3rem;
  max-width: 3rem;
  text-align: center;
}

.navbar span img:hover {
  cursor: pointer;
}



.hero.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url(./assets/v3-resized-blur-adu-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  min-height: 105vh;

  padding-top: 5rem;
}

.hero.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  padding-bottom: 3rem;
  margin: 0 10vw 0 10vw;
  margin-top: 7rem;
  margin-bottom: 4rem;

  color: white;
  font-size: 1.3rem;
  background-color: #ffffff50;

  border: 1px solid #e3e4e7;
  border-radius: 2rem;

  width: 85%;
  max-width: 50rem;
  height: auto;
}

.hero .title {
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  font-family: 'Open Sans';
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(119, 119, 119, 0.53);

}

.hero .subtitle {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin-top: -0.5rem;
}

.hero img {
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.report.card img {
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.slogan {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.hero.report-button, .hero.claim-button {
  color: white;
  background-color: #ffffff50;
  border: 1px solid #e3e4e7;
  border-radius: 2rem;
  padding: 1.7rem 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 50rem;
  width: 75%;
  text-align: center;
}

.hero.report-button:hover, .hero.claim-button:hover {
  background-color: #ffffff60;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #ffffff; 
  /* border-left: 1px solid white; */
  color: #a0c5e4;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.5rem;
  direction: rtl;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .item {
  display: flex;
  justify-content: center;
  /* padding-right: 50px; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #a0c5e4;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 1.4rem;}
} */





/* .form-card {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 60rem;
  width: 90%;
  height: 40rem;
  padding: 1.5rem;

  background-color: #ffffff;
  border-radius: 1.5rem;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}




.report.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  padding-bottom: 3rem;
  margin: 0 10vw 0 10vw;
  margin-top: 7rem;
  margin-bottom: 4rem;

  color: white;
  font-size: 1.2rem;
  background-color: #ffffff50;
  text-shadow: 1px 1px 3px rgba(119, 119, 119, 0.53);

  border: 1px solid #e3e4e7;
  border-radius: 1.5rem;

  width: 85%;
  max-width: 45rem;
  height: auto;
}

.hero .claim.card, .hero .reportt.card {
  margin-top: 0;
}


.report-form {
  width: 100%;
}

.report.card p.header {
  font-size: 2.2rem;
  color: white;
  font-weight: 900;
  font-family: 'Open Sans';
  text-align: center;
  margin: 0.8rem 0 0 0;
  text-shadow: 1px 1px 3px rgba(119, 119, 119, 0.53);
}

.report.card h1 {
  font-family: 'Open Sans';
}

.report.card .subheader {
  font-size: 1.9rem;
  /* font-weight: bolder; */
}

.report.card p.slogan {
  text-align: center;
}

.report.card div.subtext {
  /* margin-top: 3rem; */
  font-size: 1.4rem;
  text-align: center;
}

div.form-group {
  padding: 2rem 0rem 0;
  display: flex;
  flex-direction: column;
}

.form-group .label {
  margin-bottom: 0.3rem;
}

.form-group input {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  background-color: #ffffff00;

  border: 1px solid #e3e4e7;
  border-radius: 1rem;

  height: 3.5rem;
  padding: 0 1rem 0 1rem;
}

.form-group input:hover, .form-group textarea:hover, .form-group select:hover {
  background-color: #ffffff30;
}

.form-group input[type="time"] {
  margin-bottom: 3rem;
}

.form-group textarea {
  color: white;
  font-size: 1.3rem;
  background-color: #ffffff00;

  border: 1px solid #e3e4e7;
  border-radius: 1rem;

  padding: 0.7rem 1rem;
}

.form-group select {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  background-color: #ffffff00;

  border: 1px solid #e3e4e7;
  border-radius: 1rem;

  height: 3.5rem;
  padding: 0 1rem;
}

.form-group select option {
  color: rgb(54, 54, 54);
}

.image-preview img#preview-img {
  background-color: #ffffff00;
  border: 1px solid #e3e4e7;
  border-radius: 1rem;

  width: 90%;
  max-width: 45rem;
  height: auto;
}

input:focus, textarea:focus, select:focus, input[type="date"]:focus {
  outline: none;
  border: 1px solid white;
}

.submit-btn {
  color: rgb(58, 58, 58);
  font-size: 1.3rem;
  background-color: #ffffff99;

  border: 1px solid #e3e4e7;
  border-radius: 1rem;

  width: 100%;
  height: 3.5rem;
  padding: 0 1rem 0 1rem;
  margin: 1.5rem 0 0;
}

.submit-btn:hover {
  background-color: #ffffff;
  color: black;
}
