html {
	box-sizing: border-box;
	scroll-behavior: smooth;
    font-size: 13px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0px;
	padding: 0px;
    font-family: 'Geist', sans-serif;
 }

a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
    color: white;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

[id] { 
	scroll-margin-top: 150px; 
}

body {
    display: flex;
    flex-direction: column;
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    color: #ffffff;
    background-color: #ffffff50;
    border-bottom: 1px solid #e3e4e7;
    font-size: 24px;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar .left {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar .left a {
    display: flex;
    align-items: center;
}

.navbar .left img {
    max-height: 2.7rem;
    max-width: 2.7rem;
    text-align: center;
    margin-right: 0.7rem;
}

.navbar span {
    display: flex;
    align-items: center;
}

.navbar span img {
    max-height: 3rem;
    max-width: 3rem;
    text-align: center;
}



.hero.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(./assets/v3-resized-blur-adu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 105vh;

    padding-top: 5rem;
}

.hero.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    padding-bottom: 3rem;
    margin: 0 10vw 0 10vw;
    margin-top: 7rem;
    margin-bottom: 4rem;

    color: white;
    font-size: 1.3rem;
    background-color: #ffffff50;

    border: 1px solid #e3e4e7;
    border-radius: 2rem;

    width: 85%;
    max-width: 50rem;
    height: auto;
}

.hero .title {
    font-size: 3.5rem;
    color: white;
    font-weight: 900;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    justify-content: center;

}

.hero .subtitle {
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.4rem;
    margin-top: -0.5rem;
}

.hero img {
    margin-top: 1.7rem;
    margin-bottom: 1.5rem;
    height: 3rem;
    width: 3rem;
}

.hero .slogan {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.hero.report-button, .hero.claim-button {
    color: white;
    background-color: #ffffff50;
    border: 1px solid #e3e4e7;
    border-radius: 2rem;
    padding: 1.7rem 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 50rem;
    width: 75%;
    text-align: center;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #ffffff; 
  /* border-left: 1px solid white; */
  color: #a0c5e4;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 8px 8px;
  text-decoration: none;
  font-size: 1.4rem;
  direction: rtl;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .item {
  display: flex;
  text-align: center;
  padding-right: 25px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #a0c5e4;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 1.4rem;}
}





/* .form-card {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 60rem;
    width: 90%;
    height: 40rem;
    padding: 1.5rem;

    background-color: #ffffff;
    border-radius: 1.5rem;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}